<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:label="POCO F7 Smooth Zoom"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="Smooth pinch and tap zoom in POCO F7 Xiaomi Camera 6.7.000070.0"/>
        <meta-data android:name="xposedminversion" android:value="82"/>
    </application>
</manifest>
